@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;400;500;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.translate {
    

    height: 100%;
    border-radius: 50%;
 width:30%;
    position: relative;
    transition: transform 0.3s ease; 
    cursor: pointer;


.translate:hover {
    animation: rotateAnimation 0.3s ease; 
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(20deg);
    }
}


h1{
    position: absolute;
    top: 0;
}
    img{
     
       width:100%;
        height: 100%;
    }
    .connect{
        border: 3rem solid green;
        border-radius: 50%;
    }
}
@media screen and (max-width:1180px) {
    .translate{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width:914px) {
    .translate{
        flex-direction: column;
        height: auto;
        padding: 0rem;
    }
}

.home{
    display: flex;
   justify-content: center;
   align-items: center;
   gap:25rem;
 
height: 100%;
  
    .dates{
display: flex;
flex-direction: column;
.head{
   color: #FFFFFF;
    font-family: "work", Sans-serif;
    font-size: 3rem;
 
}

hr{
    width: 100%;
}
.vis{
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    align-items: center;
    width:100%;
 
color: white;
    .falls{
        width: 100%;
        font-size: 2rem;
     padding:1.5rem 0;
        line-height: 3rem;
        text-align: right;
        max-width: 80%;
        font-family:  "Roboto Mono", Sans-serif;
  
    }
    .add{
      
        font-size: 4rem;
        
    }
    .april{
        z-index: 6;
        // font-family: Montserrat;
        /* touch-action: manipulation; */
        /* height: auto; */
        /* width: auto; */
        color: rgb(255, 255, 255);
        text-decoration: none;
        white-space: nowrap;
        min-height: 0px;
        min-width: 80%;
        max-height: none;
        max-width: none;
        text-align: right;
        line-height: 40px;
        letter-spacing: 0px;
        font-weight: 300;
        font-size: 35px;
        transform-origin: 50% 50%;
        opacity: 1;
        transform: perspective(600px);
        visibility: visible;
        .mon{
            text-align: right;
            line-height: 40px;
            letter-spacing: 2px;
            font-weight: 300;
            font-size: 35px;
            color: #F79024;
        }
        .dat{
            text-align: right;
            line-height: 40px;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 35px;
            color: #ffffff;
        }
     
    }

}

.btn-home{
    background-color:#f3698c;
 
    text-decoration: none;
    
 
    border-radius: 2rem;
    transition: all .3s;
    list-style: none;
    font-family: "Roboto Mono", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 2rem;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
   
    border-radius: 15px 15px 15px 15px;
    padding: 10px 30px 10px 30px;
}
    }
}
@media screen and (max-width:914px) {
    .home{
        flex-direction: column;
        height: 100%;
        padding: auto;
        .dates{
            gap: .2rem;
        }
    }
}
@media screen and (max-width:370px) {
    .home{
        flex-direction: column;
        height: auto;
        padding: auto;
        align-items: center;
       
        .dates{
            gap: .2rem;
       padding: 0 1rem;
            margin: 10rem 0;
         
        }
    }
}
.features{
    background-color: #EFEFF8;

          
             align-items: flex-start;
        .contents{
            max-width: 114rem;
            margin: 0 auto;
             display: flex;
             padding: 50px 0px;
             justify-content: center;
             width: 100%;
          
             align-items: flex-start;
           
             &-logo{
            
                 height:100%;
                 padding-left: 1.5rem;
                 padding-bottom: 2rem;
                 
                 img{
                     width:155px;
                     height:155px;
                     border-radius: 50%;
                 }
             }
             &-container{
               width:100%;
               margin-left:4rem;

               .next{
                background-color: #f3698c;
                color: #EFEFF8;
            }
               
               h1{
                 padding-bottom: 2rem;
                 z-index: 10;
         font-family: "Work Sans";
         text-transform: uppercase;
         height: auto;
         width: auto;
         color:#f3698c;
         text-decoration: none;
         white-space: normal;
         min-height: 0px;
         min-width: 0px;
         max-height: none;
         max-width: none;
         text-align: left;
         line-height: 24px;
         letter-spacing: 0px;
         font-weight: 600;
         font-size: 28px;
         transform-origin: 50% 50%;
         opacity: 1;
         transform: translate(0px, 0px);
         visibility: visible;
     
               }
                 p{
                     -webkit-column-count: 2;
                             -moz-column-count: 2;
                             column-count: 2;
                             -webkit-column-gap: 40px;
                             -moz-column-gap: 40px;
                             column-gap: 40px;
                             -webkit-column-rule: 1px solid lightgrey;
                             -moz-column-rule: 1px solid lightgrey;
                             column-rule: 1px solid lightgrey;
     
     
                             z-index: 9;
                             z-index: 9;
                             font-family: "Work Sans";
                             height: auto;
                             width: auto;
                             color: rgb(12, 12, 12);
                             text-decoration: none;
                             white-space: normal;
                             min-height: 0px;
                             min-width: 0px;
                             max-height: none;
                             max-width: none;
                             text-align: left;
                             line-height: 21px;
                             letter-spacing: 0px;
                             font-weight: 400;
                             font-size: 15px;
                             transform-origin: 50% 50%;
                             opacity: 1;
                             transform: translate(0px, 0px);
                             visibility: visible;
                 }

               
                
                 .btn-nav{
                     background-color:#f3698c;
      
         text-decoration: none;
         
      
         border-radius: 2rem;
         transition: all .3s;
         list-style: none;
         font-family: "work Sans";
         font-size: 15px;
         font-weight: 700;
         text-transform: uppercase;
         fill: #FFFFFF;
         color: #FFFFFF;
        margin-top: 2rem;
         border-radius: 15px 15px 15px 15px;
         padding: 5px 30px;
     
         &:hover{
             background-color:#04aaed;
         }
                 }
             }
             .session-title{
                 padding-top: 2rem;
                 z-index: 8;
         font-family: "Work Sans";
         height: auto;
         width: auto;
         color: rgb(0, 0, 0);
         text-decoration: none;
         white-space: normal;
         min-height: 0px;
         min-width: 0px;
         max-height: none;
         max-width: none;
         text-align: left;
         line-height: 24px;
         letter-spacing: 0px;
         font-weight: 700;
         font-size: 19px;
         padding-top: 19px;
         transform-origin: 50% 50%;
         opacity: 1;
         transform: translate(0px, 0px);
         visibility: visible;
     
             }
         }
 @media screen and (max-width:958px) {
    .contents{
        flex-direction: column;
        &-container{
            width: fit-content;
            p{
                -webkit-column-count: 1;
                             -moz-column-count: 1;
                             column-count: 1;
            }
        }
    }
 }
 

    .teso{
        display: flex;
        align-items: center;
        padding: 3rem 2rem;
        justify-content: center;
        
        img{
            border-radius: 50%;
            // width: 100px;
            // height: 100px;
            // object-fit: cover;
        }
          .delay{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 2rem;
                background-color: green;
                &-img{
                   width: 145px;
                   height:145px;
                  
                   img{
                    width: 100%;
                    height:100%
                   }
                }
                .session{
                  
                  

                    @media screen and (max-width:817px) {
                      p{
                        padding: 15px;
                        -webkit-column-count: 3;
                        -moz-column-count: 3;
                        column-count: 1;
                        -webkit-column-gap: 40px;
                        -moz-column-gap: 40px;
                        column-gap: 40px;
                        -webkit-column-rule: 1px solid lightgrey;
                        -moz-column-rule: 1px solid lightgrey;
                        column-rule: 1px solid lightgrey;
                      }
                    }

                    // column-count: 2;
                    align-items: center;
                    flex-basis: calc(50% - 10px); 
                    margin: 5px; 
                }
                
            }

            @media screen and (max-width:991px) {
                .delay{
                 flex-direction: column;
               width: 100%;
               padding: 0;

                }
                .session{
                  
                    width: 100%;
                    padding: 0;
                }
            }

            
       
    }

    @media screen and (max-width:755px) {
        .teso{
            flex-direction: column;
            align-items: normal;


          
        }
      
    }
   
.content{
    background-color: #f27c71;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        // text-align: center;
        padding: 1rem;
    }
    .btn-home{
        background-color:#f3698c;
        padding: 1rem 4rem;
        text-decoration: none;
        color: #fff;
        font-size: medium;
        border-radius: 2rem;
        transition: all .3s;
        list-style: none;
       
    }
    .contained{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
.check{
    width: fit-content;
}
.session{

 
   
  
 width:100%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;

    column-gap: 4rem;
    -webkit-column-rule: 1px solid lightgrey;
    -moz-column-rule: 1px solid lightgrey;
    column-rule: 1px solid lightgrey;
    
   
    .smart-container{
        .cont{
            display: flex;

            align-items: center;
            gap: 1rem;
            
    -webkit-column-count: 2;
  
    -moz-column-count: 2;
    column-count: 1;
    -webkit-column-gap: 40px;
    -moz-column-gap: 20px;
    column-gap: 4px;
    -webkit-column-rule: 1px solid lightgrey;
    -moz-column-rule: 1px solid lightgrey;
    column-rule: 1px solid lightgrey;
            p{
                font-family: 'work Sans';
                text-align: left;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 600;

width:100%;

    font-size: 15px;
    padding-left: 6px;
    color: #02abee;
    text-transform: capitalize;
            }

            .icon{
                color: #e963a0;
            }
        }
    }
    
}
}

